/* Font definitions */
@font-face {
  font-family: "latobold";
  src: url("../assets/fonts/lato-bold-webfont.woff2") format("woff2"),
    url("../assets/fonts/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoregular";
  src: url("../assets/fonts/lato-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* General styles */
body {
  font-family: "latoregular";
  font-size: 15px;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

p {
  margin-bottom: 0 !important;
}

/* Logo */
.logo {
  max-width: 100%;
  height: auto;
  margin-top: 80px;
}
